.bg-indigo{
  background: #264348;
  color:#fff;
}
.bg-indigo:hover{
  background:#044F67;
  color:#fff;
}
.text-indigo{
  color:#044F67;
}
.text-white{
  color:#fff;
}
.fullpage-wrapper{
  width: 100% !important;
  background-color: #fff;
}

#judul {
  -ven-dor-animation-duration: 2s;
  -vendor-animation-iteration-count: infinite;
}
#deskripsi {
  -vendor-animation-duration: 2s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}
#tombol {
  -vendor-animation-duration: 2s;
  -vendor-animation-delay: 4s;
  -vendor-animation-iteration-count: infinite;
}
.boxImage {
  -vendor-animation-duration: 3s;
}
.boxText{
  -vendor-animation-duration: 3s;
}
.contact{
  padding-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
}
.contact:hover{
  color: #264348;
}
.contact i{
  color:#fff;
  font-size: 50px;
}
.contactIcon{
  transition: all .2s ease-in-out;
}
.contactIcon:hover{
  color:#044F67;
  transform: scale(1.3);
}

.mini-img2{
  margin-top: 12px;
}
.carousel {
    margin-top: 20px;
}
.item .thumb {
	cursor: pointer;
	float: left;
}
.item .thumb img {
	width: 100%;
	margin: 2px;
}
.item img {
	width: 100%;
}
